[submodule "libs/List"]
	path = libs/List
	url = https://github.com/Dinichthys/List

[submodule "SPU"]
    path = SPU
    url = https://github.com/Dinichthys/SPU/tree/Compiler

[submodule "PYAM_IR"]
    path = libs/PYAM_IR
    url = https://github.com/kzueirf12345/PYAM_IR
